:root {
    --background: #121315;
    --text: white;
    --blue: #0095f6;
    --link: #cdcdcd;
    --border: #494848;
}

html {
    padding: 5em 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-size: 15px;
    background-color: var(--background);
    color: var(--text);
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 370px) {
    * {
        font-size: 11px;
    }
}

body {
    max-width: 600px;
    margin: 0px auto;
}

header {
    display: grid;
    grid-template-columns: 2em auto 2em;
    padding: 0.7em 0.8em;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
}

.head-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.credentials {
    padding: 1em 1em;
    display: grid;
    grid-template-columns: 30% 70%;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    text-align: center;
}

.stats .num {
    font-size: 1.4em;
    font-weight: bold;
}

.handle {
    padding: 0 3em;
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.handle p {
    font-size: 1.4em;
    font-weight: bold;
}

.handle p i {
    font-size: 0.7em;
    color: var(--blue);
}

.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7em;
    width: 7em;
    border-radius: 50%;
    background: linear-gradient(rgb(174, 5, 120), rgb(216, 177, 34));
}

.inner-bg {
    height: 6.6em;
    width: 6.6em;
    border-radius: 50%;
    background-color: var(--background);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-bg img {
    height: 6.2em;
    border-radius: 50%;
}

.bio {
    padding: 0 1em;
    line-height: 1.5;
}

.bio .a{
    font-weight: bold;
}

a {
    color: var(--link);
    text-decoration: none;
}

.buttons {
    padding: 1em 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    width: 7.5em;
    border: none;
    text-align: center;
    background: black;
    padding: 0.8em;
    border-radius: 0.3em;
    border: 1px solid #494848;
}

button.primary {
    background-color: var(--blue);
    border: none;
}

button.small {
    width: fit-content;
}

.activities {
    display: flex;
    width: 100%;
    overflow-x: auto;
    padding: 0 1em;
    -webkit-overflow-scrolling: touch;
    text-align: center;
}

.activities::-webkit-scrollbar {
    display: none;
}

.activities {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.activity {
    padding: 0 1em;
}

.activity img {
    width: 5.3em;
    border-radius: 50%;
    padding: 0.1em;
    border: 2px solid var(--border);
}

nav.gallery-nav {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    padding: 0.7em 1em;
    box-shadow: 1px 0 1px var(--border);
}

nav.gallery-nav div i, .main-nav div i {
    font-size: 2em;
    color: var(--border);
}

nav.gallery-nav .posts i, nav.main-nav .active{
    color: var(--text);
}

.border {
    width: 15%;
    height: 2px;
    background-color: var(--text);
}

.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 33vw);
}

.photos .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.see-more {
    text-align: center;
    padding: 2em;
}

.see-more button {
    border: none;
    background-color: var(--blue);
    width: fit-content;
    border-radius: 2em;
    padding: 0.8em 1em;
}

nav.main-nav {
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    box-shadow: 2px 0 2px var(--border);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 200;
    height: 10vh;
}


