@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(15, 15, 15);
    font-family: 'Poppins', sans-serif;
    color: #FAFAFA;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.content-container{
    max-width: 414px;
    max-height: 734px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1A1A1A;
}

.nav__header{
    display: flex;
    align-items: center;
    padding: 11px 18px;
}

.nav__header i{
    font-weight: 100;
    font-size: 20px;
}

.nav__header span{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.nav__header span i{
    transform: scale(0.6);
    margin-left: 1px;
    color: #0095F6;
    font-weight: 600;
}

.nav__footer{
    height: 30px;
    width: 100vw;
    max-width: 414px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(15, 15, 15);
    padding: 28px 0;
}

.nav__footer i{
    transform: scale(1.5);
}

.nav__footer img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

/*  end fo navigation */

/* profile information */

.about {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.bio{
    display: flex;
    align-items: center;
    padding: 11px 18px;
}

.profile__info{
    display: flex;
    flex: 1;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-left: 20px;
}

.profile__image{
    background: linear-gradient(#B3079D, #FDB14A);
    height: 94px;
    width: 94px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__image img{
    width:90px;
    height: 90px;
    border-radius: 50%;
    padding: 2px;
    background-color: #1A1A1A;
}

.profile__info .data p{
    font-size: 16px;
}

.profile__info .data h4 {
    font-size: 20px;
}

.profile__about{
    padding: 0 20px;
    margin-top: 10px;
}

.profile__about img{
    height: 20px;
}

.fa-star{
    font-size: 13px;
    font-weight: 300;
    margin-right: 3px;
}

.profile__about p{
    font-size: 15px;
    padding: 2px 0;
}

.profile__about .gray{
    color: grey;
}

.profile__about .blue{
    color: #40C0E7;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 3px;
}

.profile__about .bold{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
}

.profile__contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 18px;
}

.profile__contact button{
    font-size: 14px;
    padding: 10px 10px;
    background-color: #0c0c0c;
    color: white;
    border: 1px solid #4B4B4B;
    border-radius: 5px;
}

.profile__contact a{
    font-size: 14px;
    padding: 7px 24px;
    background-color: #0c0c0c;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    border: 1px solid #4B4B4B;
}

.profile__contact .blue{
    border: unset;
    background-color: #0095F6;
    padding: 10px 27px;
}

/*  profession */

.profession .image{
    background: linear-gradient(#B3079D, #FDB14A);
    height: 74px;
    width: 74px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profession img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 2px;
    background-color: #1A1A1A;
}

.profession{
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
}

.profession p{
    text-align: center;
    font-size: 13px;
    padding-top: 7px;
}

/* Gallery section */

.gallery__icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    border-top: 1px solid #242323;
}

.gallery__icons i{
    transform: scale(1.6);
    color: #858585;
    padding: 17px 13px 6px 18px;
}

.gallery__icons i:first-child{
    color: #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding-left: 25px;
}

.gallery__icons i:last-child {
    margin-right: 15px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(101px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-top: 15px;
    overflow: hidden;
    width: 100%;
}

.gallery img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.gallery .image {
    width: 100%;
    height: 100px;
    cursor: pointer;
}

.gallery .video {
    width: 100%;
    height: 100px;
    cursor: pointer;
}

.gallery video {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.gallery .image,
.gallery .video {
    position: relative;
}

.gallery i {
    position: absolute;
    z-index: 3;
    right: 10px;
    top: 10px;
    pointer-events: none;
}

@media only screen and (min-width: 414px){
    .profile__contact a {
        padding: 7px 24px;
        font-size: 16px;
    }

    .profile__contact .blue {
        padding: 10px 27px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 415px){
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #1A1A1A;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@media only screen and (min-width: 728px){
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



    
    .content-container {
        max-width: 340px;
        max-height: 636px;
    }

    .nav__header {
        padding: 11px 18px;
    }

    .nav__header i {
        font-size: 20px;
    }

    .nav__header span {
        font-size: 16px;
        font-weight: 500;
        margin-left: 24px;
    }

    .nav__header span i {
        transform: scale(0.6);
        margin-left: 1px;
        font-weight: 600;
    }

    .nav__footer {
        height: 30px;
        max-width: 340px;
        background-color: rgb(20, 20, 20);
        padding: 25px 0;
    }

    .nav__footer i {
        transform: scale(1.5);
    }

    /*  end fo navigation */

    /* profile information */


    .bio {
        padding: 11px 18px;
    }

    .profile__info {
        margin-left: 10px;
    }

    .profile__image {
        height: 84px;
        width: 84px;
    }

    .profile__image img {
        width: 80px;
        height: 80px;
        padding: 2px;
    }

    .profile__info .data p {
        font-size: 13px;
    }

    .profile__about {
        padding: 0 18px;
    }

    .profile__about img {
        height: 20px;
    }

    .fa-star {
        font-size: 13px;
        font-weight: 300;
        margin-right: 3px;
    }

    .profile__about p {
        font-size: 13px;
        padding: 2px 0;
    }

    .profile__about .blue {
        font-size: 18px;
    }

    .profile__about .bold {
        font-size: 14px;
    }

    .profile__contact {
        padding: 20px 18px;
    }

    .profile__contact button {
        font-size: 14px;
        padding: 9px 8px;
        background-color: #050505;
    }

    .profile__contact a {
        font-size: 14px;
        padding: 7px 15px;
        background-color: #050505;
    }

    .profile__contact .blue {
        padding: 9px 19px;
    }

    /*  profession */

    .profession .image {
        height: 64px;
        width: 64px;
    }

    .profession img {
        width: 60px;
        height: 60px;
        padding: 2px;
    }

    .profession {
        padding: 0 7px;
    }

    .profession p {
        font-size: 13px;
        padding-top: 7px;
    }

    

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(101px, 1fr));
        grid-template-rows: auto;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        margin-top: 15px;
        overflow: hidden;
        width: 100%;
    }

    .gallery .image {
        width: 100%;
        height: 100px;
    }

    .gallery .video {
        width: 100%;
        height: 100px;
    }
}