.posts {
  column-count: 3;
  column-gap: 3px;
  column-width: 100%;
}
.posts .post {
  position: relative;
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 3px;
}
.posts .post > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
