.scroll {
  display: flex;
  max-height: 150px;
  overflow-x: auto;
  width: 100%;
  padding: 5px 0;
  justify-content: space-between;
  margin: auto;
  color: #fff;
}
.scroll::-webkit-scrollbar {
  width: 0px;
}
.scroll .img-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border: 1px solid #808080;
  border-radius: 100px;
}
.scroll .img {
  border-radius: 100px;
  width: 60px;
}
.scroll .scroll-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  font-size: 12px;
  text-align: center;
}
